<!DOCTYPE html>
<html>
<head>
    <title>PokerNerd</title>
        <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            padding-top: 50px;
        }
        a {
            display: block;
            margin: 20px auto;
            padding: 10px 20px;
            text-decoration: none;
            background-color: #007BFF;
            color: white;
            border-radius: 5px;
            width: 150px;
        }
        a:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <h1>PokerNerd</h1>
    <a href="tutor.html" id="tutorMode">Tutor Mode</a>
    <a href="history.html" id="reviewMode">Review Mode</a>
</body>
</html>
